@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    列王纪上
    亚多尼雅想当国王
    大卫王年事已高，虽然盖着被，
    仍感觉冷。2
    于是，臣仆们向王禀
    告：“请容臣等为陛下寻找一年少处
    女，让她照料陛下，与陛下同榻而
    卧，好让我主陛下能感觉暖和。”
    3
    他们在全以色列遍求美貌少女，
    最后，选定书念人亚比煞，把她进献
    给王。4
    亚比煞极其美貌动人，她照
    料王，侍奉王，但王并没有临幸她。
    5
    当时，亚多尼雅（他的母亲是哈
    及）妄自尊大，说：“我必作王！”
    他自备了车马，出行时有五十人为他
    开道。（6
    他父亲从不问他：“你这
    是要干什么？”也从不约束他。他相
    貌又英俊，是在押沙龙之后出生
    的。）
    7
    亚多尼雅找洗鲁雅的儿子约押和
    祭司亚比亚他议事，他们表示支持
    他。8
    但祭司撒督、耶何耶大的儿子
    比拿雅、先知拿单、示每、利以和大
    卫王的亲兵* 都不支持亚多尼雅。
    9-10随后，亚多尼雅在隐罗结附近
    的琐希列磐石那里宰杀牛羊肥犊献
    祭，遍请诸王子－也就是他的兄弟－
    和在朝中任职的犹大人，惟独没有请
    先知拿单、比拿雅、大卫王的亲兵和
    他的弟弟所罗门。
    拿单和拔示巴代表所罗门说话
    1 1拿单对所罗门的母亲拔示巴
    示每、利以和大卫王的亲兵∶或“示每和他的众
    豪杰朋友”
    说：“你没有听说哈及的儿子亚多
    1
    尼雅已经在我主大卫不知情的情况
    下自立为王吗？12让我指点你怎样保
    全你自己和你儿子所罗门的性命吧！
    13你去见王，对他说：‘陛下不是曾
    应允奴婢说：“你的儿子所罗门必
    继 位为王，坐 在我的宝 座之上”
    吗 ？现 在亚多尼雅怎么成 了王了
    呢？’14你跟王说话的时候，我会进
    去证实你所说的一切。”
    15于是拔示巴起身去王的寝宫见
    王。王已经很老了，亚比煞正在照料
    他。16拔示巴向王屈身下拜，王问：
    “你有什么事吗？”17拔示巴说：
    “陛下啊，你曾指着主－你的上帝向
    奴婢起誓说：‘你的儿子所罗门必继
    位为王，坐在我的宝座之上。’18但
    现在亚多尼雅却突然成了王，而你，
    陛下却对此一无所知。19亚多尼雅宰
    了许多牛羊肥犊献祭，遍请众王子和
    祭司亚比亚他、元帅约押，惟独没有
    请王的臣下所罗门。20陛下啊，以色
    列民众都在关注你向他们宣布，谁将
    在陛下之后坐在你的宝座之上。21不
    然，一旦陛下归于列祖之后，我和我
    的儿子必形同罪人了。”
    22正当拔示巴与王说话的时候，先
    知拿单到了。23有人向王禀奏：“先
    知拿单来了。”拿单谒见王，俯伏于
    地，24说：“陛下当真说过：‘亚多
    尼雅当继我为王，坐于我的宝座之
    上’吗？25他今天外出，宰了许多牛
    羊肥犊献祭，遍请了众王子和将领，
    还请了祭司亚比亚他。他们现在正跟
    亚多尼雅一齐又吃又喝，还说什么：
    ‘亚多尼雅王万岁！’26只有我，你
    的仆人，还有祭司撒督、耶何耶大的
    儿子比拿雅，王的臣下所罗门不在被


    祭品和奉献
    主从会幕* 里召唤摩西，对他说∶
    2
    “你晓喻以色列人∶‘你们当中
    有人向主献牲祭时，要从牛群或羊群
    中挑选。3
    如果献上的是从牛群中挑
    选的烧化祭，祭牲必须是没有残疾的
    公牛。他必须把它带到圣幕的门口，
    使它能够蒙主悦纳。4
    他要把手按在
    祭牲的头上，这样，蒙主悦纳的烧化
    祭就为他赎了罪。5
    作为祭牲的公牛
    要在主的面前杀掉，亚伦宗族的祭司
    要把这牛的血洒在圣幕门口的祭坛周
    围，作为祭物献给主。6
    然后，要剥
    掉这牛的皮，把肉切成碎块。7
    亚伦
    宗族的祭司要在祭坛上码上木柴，拨
    旺火，8
    把切成块的牛肉以及牛的头
    和脂油投进祭坛上的火里。9
    牛的内
    脏和后腿要先用水洗净，然后全部由
    祭司在祭坛上烧化。这是烧化祭，这
    悦人的香气是献给主的礼物。
    10‘如果用绵羊或山羊献作烧化
    祭，必须是没有残疾的公羊。11羊要在
    祭坛的北面，在主的面前杀掉，亚伦
    宗族的祭司要把这羊的血洒在祭坛的
    周围，12然后，把羊肉切成块，再把这
    些肉以及羊的头和脂油都码放在祭坛
    上燃烧着的木柴上。13羊的内脏和后腿
    用水洗净后由祭司在祭坛上烧化祭
    献。这烧化祭的香味是主所喜悦的。
    14‘如果用鸟类献作烧化祭，必须
    是斑鸠或雏鸽。15祭司要把鸟拿到祭
    坛上，拧掉头，在祭坛上烧化。鸟的
    会幕∶以色列人去与上帝相会的神圣帐幕。
    血要洒在祭坛旁，16内脏要用尾巴上
    1
    的羽毛清除干净，扔在祭坛东面倒灰
    的地方。17祭司要抓着鸟的两个翅
    膀，把鸟撕开，但不要撕成两半，然
    后码放在祭坛上燃烧着的木柴上，在
    祭坛上烧化。这是烧化祭，这悦人的
    香气是献给主的礼物。
    素祭
    ‘向主献素祭时，必须选用最好
    的面粉，浇上橄榄油，加上乳
    香，2
    然后把这些交给亚伦宗族的祭
    司。祭司从其中抓出一把投入祭坛上
    的火里，作为全部祭物的象征献给
    主；这悦人的香气是献给主的礼物。
    3
    素祭余下的部分归亚伦和他的家族
    所有，因为这是圣化归主的祭物中的
    至圣物。
    烘制的素祭
    4
    ‘向主献用烘炉烤制成的素祭
    时，要选用上好的面粉，制成调油
    的无酵厚饼和涂油的无酵薄饼。5
    向
    主献用平锅烘制的素祭时，要选用
    上好的面粉，调上油，做成无酵饼* 。 6
    然后，把它弄碎，浇上油；这也是
    一种素祭。7
    向主献用煎锅煎制的素
    祭时，要选用上好的面粉，用油煎
    熟。8
    你们要把用这些方法制成的素
    祭献给主，要把它们交给祭司，由
    祭司奉献到祭坛上。9
    祭司从其中抓
    无酵饼∶不用酵制成的饼。
    出一部分，象征全部祭物在祭坛上
    2
    91 利未记 2:10-4:12
    烧化。这悦人的香气是献给主的礼
    物。10余下的祭物归亚伦和他的家族
    所有，因为这是圣化归主的祭物中
    的至圣物。
    11‘不可向主献上有酵的素祭，不
    可在祭坛上烧化任何含酵或含蜜的素
    祭献给主。12酵和蜜可以作为初熟的
    供物献给主，但不可烧化在祭坛上奉
    献。13各种素祭都要用盐调和，你们
    决不可忽略上帝的约的盐。要把盐跟
    其他祭物一同献上。
    用初熟的谷物制成的素祭
    14‘向主献初熟的供物作为素祭
    时，要把初熟的新谷烘干，磨碎，15浇
    上油，加上乳香，这也是一种素祭。
    16祭司从其中抓出一部分，象征全部祭
    物烧化在祭坛上，作为礼品献给主。
    平安祭
    ‘用牲畜向主献平安祭时，无论
    是公是母 ，都必须是没有残疾
    的。2
    要把手按在祭牲的头上，在圣
    幕的门前把它杀掉，亚伦家族的祭司
    要把它的血洒在祭坛的周围。3-4祭司
    要把祭牲的一部分，包括包着内脏和
    内脏上的脂肪，两个腰子和腰子上的
    脂肪，以及肝的最好部分一并割下，
    作为火祭献给主。5
    亚伦的后代要把
    这些连同码放在柴堆上的烧化祭一起
    烧化在祭坛上。这悦人的香气是献给
    主的礼物。
    6
    ‘用羊向主献作平安祭时，必须
    是没有残疾的公羊或母羊。7
    如果选
    用绵羊，要把羊带到主的面前，8
    奉
    献者要用手按在它的头上，在圣幕门
    口把它杀掉，亚伦宗族的祭司要把它
    的血洒在祭坛旁。9
    要把祭牲的一部
    分，包括羊的脂肪，靠近尾骨附近的
    整条肥尾巴，包着内脏和内脏周围的
    脂肪，10两个腰子和腰子上的脂肪，
    以及肝的最好部分一并割下，11烧化
    在祭坛上，作为食祭献给主。
    3
    山羊作为平安祭
    12如果选用山羊，要把羊带到主的
    面前，13奉献 者要用手按在它的头
    上，在圣幕的门前把它杀掉，亚伦宗
    族的祭司要把它的血洒在祭坛旁。14要
    把祭牲的一部分，包括羊的脂肪，靠
    近尾骨附近的整条肥尾巴，包着内脏
    和内脏周围的脂肪，15两个腰子和腰
    子上的脂肪，以及肝的最好部分一并
    割下，16烧化在祭坛上，作为食祭献
    给主；这悦人的香气是献给主的礼
    物。祭牲的所有脂肪都属于主。17你
    们无论住在那里，都不可以吃脂肪和
    血，这是你们世世代代要永久遵守的
    律例。’”
    为无意间犯的罪献的祭
    主对摩西说∶“2
    你晓喻以色列
    人∶‘如果有人无意间犯了罪，
    违犯了主的诫命，他必须遵守下述规
    定。3
    如果犯罪的是大祭司，他因自
    己的罪而连累了民众，必须为自己的
    罪向主献上一头没有残疾的公牛作为
    赎罪祭。4
    他要把牛牵到主的圣幕门
    前，用手按在它的头上，并在主的面
    前把它杀掉。5
    他要把一部分血拿进
    圣幕，6
    用手指蘸着血，在至圣所* 的
    帷幔前弹洒七次，7
    再把一些血抹在
    圣幕内主面前香坛的四只角上。其余
    的血倒在圣幕门口用于献烧化祭的祭
    坛的底座旁。8
    他必须把这用作献赎
    罪祭的牛的全部脂肪割下，包括包着
    内脏的脂肪和内脏周围的脂肪，9
    两
    只腰子和腰子上的脂肪，以及肝的最
    好部分一并割下，10由祭司奉献到献
    烧化祭的祭坛上烧化；作法同献作平
    安祭的牛一样* 。11这牛的皮、肉、
    至圣所∶圣幕中最重要的地方，圣柜及其上的基
    路伯天使就在这里。这里有如上帝的宝座。
    作法同献作平安祭的牛一样∶见《利未记》，
    3:1-5。
    头、腿、内脏和其他秽物，12都要带
    4
    利未记 4:13-5:8 92
    到营外专为洁净而设的倒灰的地方，
    用木柴点火烧掉。
    13‘如果全体会众无意中犯了过
    错，即便自己全然不觉以致违犯了主
    的诫命，他们仍然有罪。14一旦发觉
    自己的罪，会众必须向主献上一头公
    牛作为赎罪祭。他们要把这牛带到圣
    幕门前，15会众的长老们要用手按在
    它的头上，并在主的面前把它杀掉。
    16大祭司要把一部分血拿进圣幕，17用
    手指蘸着血，在至圣所内主前面的帷
    幔前弹洒七次，18再把一些血抹在主
    面前香坛的四只角上。其余的血倒在
    圣幕门口用于献烧化祭的祭坛的底座
    旁。19他要割下这牛所有的脂肪，并
    在祭坛上烧化，20程序同大祭司用牛
    献赎罪祭一样* 。这样，祭司就为会
    众行了赎罪礼，使他们得到赦免。21然
    后，要把这牛的其余部分拿出营外烧
    掉，象烧前述献作赎罪祭的牛的方法
    一样。这是为会众献的赎罪祭。
    22‘如果犯罪的是民众的首领，他
    无意中违犯了主的诫命，23一旦自己
    发觉，必须向主献上一只没有残疾的
    公山羊作赎罪祭。24他要用手按在这
    作赎罪祭的羊的头上，在宰杀烧化祭
    祭牲的地方把它杀掉。这也是一种赎
    罪祭。25祭司要用手指蘸一些血抹在
    烧化祭祭坛的角上，其余的血要倒在
    祭坛底座的旁边。26所有的脂肪都要
    投入祭坛上的火里烧掉，与献平安祭
    脂肪的方法一样。这样，祭司就为他
    行了赎罪礼，使他得到赦免。 27‘如果犯罪的是一般平民，他无
    意中违犯了主的诫命，28一旦自己发
    觉，必须向主献上一只没有残疾的母
    山羊作赎罪祭。29他要用手按在这作
    赎罪祭的羊的头上，在宰杀烧化祭祭
    牲的地方把它杀掉，30祭司要用手指
    蘸一些血，抹在烧化祭祭坛的四只角
    程序同大祭司用牛献赎罪祭一样∶见《利未
    记》，4:3-12。
    上，其余的血倒在祭坛的底座旁边。
    31他要把这羊的脂肪都取下来，与取
    平安祭祭牲脂肪的方法一样。祭司
    要把这些脂肪在祭坛上烧化，这悦
    人的香气是献给主的礼物。这样，
    祭司就为这人行了赎罪礼，使他得
    到赦免。32如果他用绵羊作赎罪祭祭
    牲，必须是没有残疾的母绵羊。33他
    要用手按在这羊的头上，在宰杀烧
    化祭祭牲的地方把它杀掉，34祭司要
    用手指蘸一部分血，抹在烧化祭祭
    坛的四只角上，其余的血倒在祭坛
    底座的旁边。35祭司要取下羊的所有
    脂肪；与取平安祭祭牲脂肪的方法
    一样。祭司要将这些脂肪连同其他
    祭品一同在祭坛上烧化献给主。这
    样，祭司就为这人行了赎罪礼，使
    他得到赦免。
    各种各类无意间犯的罪
    ‘如果有人目睹事件现场或了解
    事实真相却不出来作证，他因隐
    瞒证据而受到公众指责，这人就算有
    罪，要承受罪罚。2
    如果有人触摸了
    不洁净* 的东西，无论是不洁净的野
    兽的尸体还是不洁净的家畜或爬虫的
    尸体，自己却没有发觉，他因此而不
    洁净，就算有罪。3
    如果有人触碰了
    别人的秽物，无论沾染的是什么，尽
    管当时没有发觉，而他自己一旦发
    觉 ，就 算有罪。4
    如果有人信 口 发
    誓，事后也忘却了，不论誓言是好是
    坏，自己一旦发觉，就算有罪。5
    人
    无论在哪一项上犯了罪都必须服罪。
    6
    他必须向主献上一只母山羊或母绵
    羊作为赎罪祭为自己赎罪，祭司要为
    他行赎罪礼。
    7
    ‘如果他买不起羊，可以用两只
    斑鸠或雏鸽为自己赎罪。一只献作赎
    罪祭，另一只献作烧化祭。8
    他要把
    它们交给祭司，祭司要先把一只献作
    不洁净∶不纯洁或不被上帝接受。
    赎罪祭。他要拧断鸟的脖子，使鸟的
    5
    93 利未记 5:9-6:18
    头 软弱 无力 ，但不要拧下来，9
    然
    后，把一些血弹洒在祭坛周围，其余
    的血倒在祭坛底座的旁边。这是赎罪
    祭。10另一只鸟按照规定的礼仪献作
    烧化祭。这样，祭司就为这人行了赎
    罪礼，使他得到赦免。 11‘如果他买不起两只斑鸠或雏
    鸽，可以献上一公斤上好的面粉作为
    赎罪祭，面粉上不要浇油，也不要放
    乳香，因为这是赎罪祭。12他要把面
    粉交给祭司；祭司从其中抓出一把作
    为全部祭物的象征，投入祭坛上的火
    里，作为火祭献给主。这是赎罪祭。
    13这样，祭司就为这人行了赎罪礼，
    使他得到赦免。余下的面粉归祭司所
    有，和素祭的规定一样。’” 14主对摩西说∶“15如果有人无意
    中侵犯了主的圣物* ，他必须要向主
    献上一只没有残疾的公绵羊谢罪。羊
    的价值要与按照圣所标准决定的相
    当。16他要为所侵犯 的圣物作出赔
    偿，还要为他的罪多付出赔偿值的五
    分之一。他要把这些钱和用于赔偿的
    羊都交给祭司；祭司要用这羊为他行
    赎罪礼，使他得到赦免。 17“如果有人违犯了主的诫命，自
    己却没有意识到已经犯了罪，他仍然
    要承受罪罚。18他必须按照估价把一
    只没有残疾的公绵羊交给祭司作为赎
    过祭，由祭司为他无意中犯的过错行
    赎罪礼，使他得到赦免。19这是赎过
    祭，因为他得罪了主。”
    为其他罪献的赎过祭
    1
    主对摩西说∶2
    “如果有人亵渎
    主，在邻居托他保管的东西上起
    了不良之念，或是在交易中欺诈对
    方，或是抢人财物，或是欺压同胞， 3
    或是拾到别人遗失的东西却矢口否
    主的圣物∶这可能是指人已经许给上帝的、却忘
    记了奉献的特殊礼物。
    认，还赌咒发誓或做诸如此类欺心的
    6
    事，4
    如果他这样做他就有了罪，他
    要归还这些不义之财－无论是抢夺来
    的，欺诈来的，别人托他保管的，路
    上拾来的，5
    还是赌过咒发过誓否认
    的，都要如数归还，还要再加上原价
    值的五分之一。他必须在服罪的当天
    把东西归还原主，6
    并把一只与赔偿
    价值相当的没有残疾的公绵羊交给祭
    司作为献给主的赎过祭。7
    祭司要在
    主的面前为他行赎罪礼，使他在获罪
    的事情上得到赦免。”
    烧化祭
    8
    主对摩西说∶9
    “你晓喻亚伦和他
    的后代，献烧化祭的条例是这样的∶
    ‘烧化祭要投在祭坛上的火里，从晚
    上一直烧到早晨，祭坛上的火要始终
    燃烧着。10祭司要穿上麻纱长袍和麻
    纱内裤，把祭坛上烧化祭的灰收集起
    来，倒在祭坛旁边，11然后，他要脱
    掉这衣服，换上另外的衣服，把灰拿
    到营外的洁净之处。12祭坛上的火要
    始终燃烧着，不可熄灭。祭司每天早
    晨要向火中加木柴，在火上码放烧化
    祭并烧化平安祭的脂肪，13祭坛上的
    火要日夜不断地燃烧着，不可熄灭。
    素祭
    14‘献素祭的条例是这样的∶亚
    伦的后代要在祭坛前向主献上素祭。
    15祭司要从这加有油和乳香的上等面
    粉做成的素祭中抓出一把来，作为
    全部祭物的象征献给主，这悦人的
    香气是献给主的礼物。16亚伦和他的
    后代可以吃剩下的祭物。他们要把
    这些祭物做成无酵饼，并且只能在
    圣所－圣幕的院子里吃。17做饼的时
    候，不可搀酵，因为我已经把这些
    献给我的食祭赐给他们，作为他们
    的应得之份。它与赎罪祭和赎过祭
    一样，也是至圣之物。18亚伦后代中
    的男子都可以吃这祭物，因为这是
    他们世世代代由主的祭物分得的应
    利未记 6:19-7:24 94
    得之份。凡触碰了这些祭物的，都
    要归圣。’”
    祭司的素祭
    19主对摩西说∶“20亚伦和他的后
    代要在被膏立为大祭司的那天，向主
    做这样的奉献∶用两升上等的面粉作
    为常例的素祭，早晚各献上二分之
    一。
    21这素祭要放在 铁枰里用油浸
    透，调拌均匀，烤熟，分成小块；这
    祭物的香味是主所喜悦的。22亚伦宗
    族的祭司中被膏立为大祭司的人必须
    向主献上这份素祭。这是献给主的常
    例的祭，要完全烧化献给主。23所有
    由祭司奉献的素祭都要完全烧化，人
    不可以吃。”
    有关赎罪祭的条例
    24主对摩西说∶25“你晓喻亚伦和
    他的后代，献赎罪祭的条例是这样
    的∶‘要当着主的面在宰杀烧化祭祭
    牲的地方宰杀赎罪祭祭牲，因为这祭
    牲是至圣的。26主持祭礼的祭司要在
    圣所－圣幕的院子里吃这赎罪祭。27凡
    触碰了这祭牲肉的东西都要归圣，凡
    被这祭牲血溅碰了的衣服都要在圣处
    洗涤，28所有用来煮祭牲肉的瓦锅都
    必须摔碎，如果是铜锅，则必须用水
    擦洗干净。29所有祭司家族中的男子
    都可以吃这祭牲的肉，因为这祭牲是
    至圣的。30但是，如果带血的祭牲被
    拿进了圣幕用于在圣处行赎罪礼，这
    祭牲就不可以吃而必须烧化。’
    赎过祭
    “以下是关于赎过祭的条例。这
    是至圣的条例。 2
    要在宰杀烧化祭祭牲的地方宰杀
    赎过祭祭牲，要把它的血洒在祭坛的
    周围。3
    所有的脂肪都要献给主∶肥
    尾巴、包着内脏的脂肪、4
    两个腰子
    和包在腰子上的脂肪，以及肝的最好
    7
    部分要一并取下来，5
    由祭司在祭坛
    上烧化，作为食祭献给主。这是赎过
    祭。6
    所有祭司家族中的男子都可以
    吃这赎过祭。他们必须在圣所吃这赎
    过祭。这是至圣的条例。7
    与赎罪祭
    一样，赎过祭也属于主持祭礼的祭
    司。这一条例是相同的。8
    当祭司为
    某个人奉献烧化祭时，祭牲的皮归祭
    司所有；9
    各种素祭－无论是炉子烘
    的，煎锅煎的，还是平锅烤的，都归
    主持祭礼的祭司所有。10但是生的素
    祭，无论是调油的还是干的，要归亚
    伦宗族所有的祭司平均分配。 11“以下是向主献平安祭的条例。 12如果有人向主献平安祭感恩，除了
    祭牲外，还要献上无酵饼，也就是调
    油的圈饼、涂油的薄饼和用上等面粉
    浸油作成的饼。13此外，还要献上一
    些有酵的饼。14他要从这些祭物中各
    拿一份作为礼物献给主，这份礼物归
    那弹洒平安祭的血的祭司所有。
    15“为感恩而献的平安祭要在奉献
    的当天吃掉，任何部分都不可留到第
    二天早晨。16如果是为还愿或自愿向主
    献的祭，祭物可以在献祭的当天吃，
    剩下的也可以留到第二天再吃。17如果
    还有剩余的，必须在第三天烧掉。18如
    果第三天还吃这祭肉，上帝就不接受
    他所献的祭，他所献的就不算作祭
    品，它是不洁净的，凡吃了的人都要
    承受罪罚。19接触了不洁净东西的祭肉
    不可以吃，必须用火烧掉，洁净的人
    可以吃其他祭肉。20不洁净的人如果吃
    了平安祭的肉，就必须把他从上帝的
    子民中除名。21如果有人接触了不洁净
    的东西，无论是人的秽物还是不洁净
    的动物或是不洁净的可憎之物，他又
    吃了这献给主的平安祭的肉，必须把
    他从主的子民中除名。” 22主对摩西说∶23“你晓喻以色列
    人∶‘你们不可吃牛、绵羊或山羊
    的脂肪。24自然死去或被野兽咬死的
    动物的脂肪也不可吃，但可以用作
    95 利未记 7:25-8:21
    其他用途。25任何人吃了本应作为食
    祭献给主的牲畜的脂肪，必须把他
    从主的子民中除名。26你们无论住在
    哪里，都不可吃鸟或兽的血。27凡吃
    这血的人，必须把他从主的子民中
    除名。’” 28主对摩西说∶29“你晓喻以色列
    人∶‘凡向主献平安祭的人必须把其
    中的一部分作为食祭献给主。30他必须
    亲自把主的食祭－脂肪和胸肉送来，
    胸肉作为举祭，31脂肪由祭司在祭坛上
    烧化；胸肉归亚伦及其后代所有。
    32-33平安祭的右后腿归主持奉献血和脂
    肪的祭司所有，作为他的应得之份。 34我接受了以色列人献给我的平安祭，
    把其中作为举祭的胸肉和作为自愿祭
    的后腿赐给了亚伦和他的后代，作为
    他们世世代代在色列人当中的应得之
    份。35自亚伦和他的后代被膏立为主的
    祭司之日起，这就是他们从主的食祭
    中分得的应得之份。36从膏立祭司的那
    天起，主就命令以色列人把这份祭物
    分给祭司，作为他们的应得之份。以
    色列人要永远遵守这一条例。’” 37以上是有关烧化祭、素祭、赎罪
    祭、赎过祭、平安祭和承接圣职时献
    祭的条例。38这些条例是主在西乃旷
    野命令以色列人向主献祭时，在西乃
    山上向摩西颁布的。
    摩西让祭司们做好准备
    主对摩西说∶2
    “你带着亚伦和
    他的儿 子们，再带上祭司的圣
    服 、膏 油* 、 一头作为赎罪祭的公
    牛、两只公绵羊和一篮无酵饼，3
    把
    全体会众都召集到圣幕的门口来。” 4
    摩西遵照主的吩咐行事，把全体会
    众召集到圣幕的门口。
    5
    摩西对会众说 ∶“这是主的旨
    膏油∶浇在东西或人上面的橄榄油，用来表明其
    已被选作特定的用途。
    意。”
    8
    6
    摩西把亚伦和他的儿子们带上前
    来，让他们沐浴净身，7
    然后，给亚
    伦穿上内袍，束上腰带，再穿上外
    袍，罩上以弗得，用一条华美的腰带
    束紧。8
    接着，他把胸牌系在亚伦身
    上，把乌陵和土明放进胸牌的口袋
    里。9
    然后，把礼冠 * 戴在亚伦的头
    上，并把金牌－也就是圣冠－钉在礼
    冠的前面。这一切都是遵照主的命令
    做的。
    10摩西又用膏油涂抹圣幕和其中所
    有的陈设，使它们归圣，11又用膏油
    向祭坛弹洒七次，并膏了祭坛和相应
    的用具以及洗涤盆和盆座，使它们归
    圣。12他又 把圣膏油 倒在亚伦的头
    上，膏他，使他归圣。13接着，摩西
    把亚伦的儿子们带上前来，给他们穿
    上内袍，束上腰带，戴上礼冠。这一
    切都是遵照主的命令做的。
    14然后，摩西牵过那头献作赎罪祭
    的公牛，让亚伦和他的儿子们用手按
    在这牛的头上，15然后杀掉它。摩西
    用手指蘸着血，把血抹在祭坛的四只
    角上，使祭坛洁净，再把剩下的血倒
    在祭坛的底座上，使祭坛归圣。这
    样，祭司就可以在坛上行赎罪礼了。
    16摩西取下祭牲内脏上的脂肪、肝的
    最好部分、两个腰子和腰子上的脂
    肪，放在祭坛上烧化，17并把这牛的
    其余部分，包括牛的皮、肉、和其他
    秽物都拿到营外烧掉。这一切都是按
    照主的命令做的。
    18然后，摩西牵过献作烧化祭的公
    绵羊，让亚伦和他的儿子们用手按在
    这羊的头上，19然后杀掉它。摩西把血
    泼洒在祭坛的四周，20把羊的肉切成
    块，连同羊的头和脂肪一起放在祭坛
    上烧化。21再用水把羊的内脏和腿洗
    净，全部烧化在祭坛上。这烧化祭的
    香味是主所喜悦的。这是献给主的食
    礼冠∶用一条长布带裹在头上或帽子上而成。
    祭。这一切都是遵照主的命令

    利未记 13:22-56 100
    把他隔离七天以后再检查。22如果患
    处扩散了，祭司就要宣布这人为不
    洁净。因为他患的是传染病。23如果
    白斑既没有转移也没有扩散，那么
    只不过是疮的疤痕而已；祭司要宣
    布他为洁净。
    24“如果有人皮肤上有烧伤，伤处
    的瘀肉呈白中带红点或浅白色斑，25祭
    司就要检查他。如果白斑呈内陷状，
    且上面的毛发已经变白，这就是由烧
    伤变为恶性皮肤病的症状。祭司要宣
    布这人为不洁净；因为他所患的是恶
    性皮肤病。26如果伤处没有内陷，上
    面的毛发也没有变白，只是颜色变
    暗，祭司就要把他隔离七天，27在第
    七天再检查。如果白斑扩散了，祭司
    就要宣布这人为不洁净，这是恶性皮
    肤病的症状。28如果色斑既没有转移
    也没有扩散，只是颜色变暗，那么只
    不过是烧伤的凸痕而已。祭司要宣布
    这人为洁净。因为那伤处只是烧伤的
    疤痕。29“如果男人或女人的头上或下
    巴上有了病变，30祭司必须去查看。
    如果患处内陷，并且上面的毛发稀
    疏变黄，祭司就要宣布这人为不洁
    净；这是疥疮，是一种头部和下巴
    上的恶性皮肤病。31如果患处没有内
    陷，但是上面没有黑色的毛发，祭
    司就要把这人隔离七天，32在第七天
    再检查。如果病变没有扩散，上面
    也没有黄色的毛发，而且患处也没
    有内陷，33这人就要剃掉病变区以外
    的毛发；祭司要把他再隔离七天。34在
    第七天，祭司要再对病变区检查。
    如果患处没有内陷，病变也没有扩
    散，祭司就要宣布这人为洁净。这
    人要洗涤衣服；这样，他在礼仪上
    就洁净了。35如果在他被宣布为洁净
    后病变又扩散了，36祭司就要重新检
    查他。如果经检查病变确实已经扩
    散，祭司就不必再找变黄的毛发，
    可以确定这人为不洁净。37如果病变
    的外观没有变化，上面还长出了黑
    色的毛发，那么表示病变已经痊愈
    了，这人已经洁净了。祭司要宣布
    这人为洁净。 38“如果男人或女人皮肤上长出许
    多白斑，39祭司就要检查他或她。如
    果白斑呈暗白色，这只不过是皮疹。
    这人是洁净的。
    40“男人脱了发，秃了顶，但他仍
    是洁净的。41即使仅是前额部分脱了
    发，他也仍然是洁净的。42但是，如
    果头顶或前额光秃的部分出现带红点
    的白斑，这就是恶性皮肤病，43祭司
    要查看他。如果这带红点的白斑确实
    象身体其他部位皮肤上的恶性皮肤病
    一样，44这人患的就是恶性皮肤病，
    他就是不洁净的。祭司要宣布这人为
    不洁净。他的病变在头上。
    45“患了恶性皮肤病的人必须穿
    撕裂的衣服，披散头发，蒙住上唇
    以上的脸部，还要大声喊叫∶‘我
    不洁净！我不洁净！’46这人在患病
    的整个期间都是不洁净的，必须独
    自住在营外。 47-49“如果在羊毛或麻纱的衣服上
    和衣料上或是皮革及皮革制品上出现
    绿色或红色的霉斑，必须把这会蔓延
    的霉斑交给祭司查看。50祭司要查看
    这霉斑，要把这长霉斑的衣物隔离七
    天。51在第七天，祭司要再检查衣物
    上的霉斑。如果霉斑在衣物上扩散
    了，这就是弥漫性的霉变。它是不洁
    净的。52祭司要把这些有霉斑的衣服
    和皮革制品烧掉，因为这是弥漫性的
    霉变，必须用火烧掉。53祭司如果发
    现霉斑在衣服和皮革上没有扩散，54就
    必须命令人们把这衣物洗净，然后再
    把它们隔离七天。55七天之后，祭司
    要再检查这已洗去霉斑的衣物。如果
    霉斑又出现了，无论在衣物的正面
    或背面，即使外观没有改变，也没
    有扩散，它仍是不洁净的，你们必
    须把它烧掉。56如果霉斑变淡了，他
    101 利未记 13:57-14:30
    就要把有霉斑的部分从衣料或皮革
    上撕下来。57如果以后霉 斑又出现
    了，这就是霉变蔓延了，必须把这
    有霉斑的衣物烧掉。58如果霉斑消失
    了，就要把这衣 物再洗一次 。 这
    样，这衣物在礼仪上就洁净了。59以
    上是有关在羊毛或麻纱的衣服或衣
    料上或是皮革及皮革制品上发现霉
    斑的条例。是区分它们洁净或不洁
    净的依据。”
    为恶性皮肤病人行洁净礼的有关
    条例
    主对摩西说∶2
    “以下是为恶
    性皮肤病人行洁净礼的有关条
    例。人们要带那人来见祭司。3
    祭司
    要出营来查看他，确认恶性皮肤病确
    实已经痊愈。4
    然后，祭司要命人拿
    来两只洁净的野鸟，一块香柏木，一
    条红线和一株牛膝草* ，5
    把其中一只
    鸟在盛满泉水的陶盆上杀掉，6
    祭司
    本人要把另一只活鸟连同香柏木、红
    线和牛膝草一起浸在这鸟血里，7
    向
    那求洁净的病人身上弹洒七次。然
    后，祭司就可以宣布这人已经洁净
    了。祭司要到野外放掉那只活鸟。8
    被
    洁净的病人要洗涤衣服，剃掉所有的
    毛发，沐浴净身，这样，他在礼仪上
    就洁净了。他可以进入营地，但还要
    在自己的帐蓬外停留七天。9
    在第七
    天，他要剃掉全身所有的毛发，包括
    头发、胡须、眉毛等一切毛发，洗涤
    衣服，沐浴净身，然后他就洁净了。
    10“在第八天，他要带来两只没有
    残疾的公羊羔和一只一岁大的没有残
    疾的母羊羔，以及六升调油的上等面
    粉和三分之一升橄榄油。11祭司要把
    他和这些祭品带到圣幕门前主的面
    前，12然后，祭司要把作为赎过祭的
    牛膝草∶一种枝叶纤细的植物，用于在行洁净礼
    时弹洒血或水
    公羊羔和三分之一升橄榄油一同作为
    14
    举祭献给主。13羊羔要在宰杀赎罪祭
    和烧化祭的圣处杀掉；因为赎过祭与
    赎罪祭同样是至圣的，它归祭司所
    有。14祭司要取一些赎过祭的血涂在
    被洁净人的右耳垂和右手的大拇指及
    右脚的大脚趾上。15再从献给主的三
    分之一升橄榄油里取出一些，倒在自
    己的左手手掌里。16然后，祭司用右
    手的手指蘸左手手掌里的油，在主的
    面前弹洒七次。17再用手掌里的油涂
    抹被洁净人已经涂过赎过祭血的右耳
    垂、右手的大拇指和右脚的大脚趾， 18手掌里剩余的油则涂在求洁净人的
    头上。这样，祭司就在主的面前为这
    人行了洁净礼。19然后，祭司要献上
    赎罪祭，为求洁净人行洁净礼。接
    着，再把烧化祭的祭牲杀掉，20把烧
    化祭和素祭献在祭坛上，为求洁净人
    行洁净礼。这样，求洁净人在礼仪上
    就洁净了。
    21“如果求洁净人很穷，无力负担
    这么多的祭品，他可以只用一只公羊
    羔献作赎过祭，作为行洁净礼的举
    祭。再带来两升调油的上等面粉和三
    分之一升橄榄油，22及两只斑鸠或鸽
    子，哪种力所能及就用哪种，一只鸟
    献作赎罪祭，另一只献作烧化祭。23他
    必须在行洁净礼的第八天把这些祭品
    带到圣幕的门前，在主的面前交给祭
    司。24祭司要把作为赎过祭的羊羔和
    三分之一升橄榄油一同作为举祭献给
    主。25献作赎过祭的羊羔要杀掉，祭
    司要取出一些血，涂在求洁净人的右
    耳垂、右手的大拇指和右脚的大脚趾
    上。26再向自己的左手手掌里倒一些
    橄榄油，27用右手的手指蘸着左手手
    掌里的油，在主的面前弹洒七次，28再
    把手掌里的一些油涂在求洁净人已经
    涂过赎过祭的血的右耳垂、右手大拇
    指和右脚的大脚趾上。29手掌里剩余的
    油则涂抹在求洁净人的头上，在主的
    面前为他赎罪。30然后，祭司要献上那
    两只斑鸠或鸽子，哪种力所能及就用
    利未记 14:31-15:11 102
    哪种，31一只献作赎罪祭，一只献作烧
    化祭，与素祭一同献上。这样，祭司
    就在主的面前为他行了洁净礼。32以上
    是恶性皮肤病人无力负担洁净礼仪的
    常例祭品时的有关条例。”
    关于房屋中霉变的条例
    33主对摩西和亚伦说∶34“当你们
    进入我赐给你们作为产业的迦南地
    时，我要使你们的一些房屋中发生
    霉* 变。35那时，屋主必须去向祭司报
    告∶‘我的屋子里长出一些霉一样的
    东西！’36祭司要命人在他去查看霉
    变之前把屋子搬空，这样，屋子里原
    有的一切物品仍然是洁净的。然后，
    祭司要来检查屋子。37他要仔细查看
    霉变的地方，如果墙上的霉变是一些
    红色或绿色的霉斑，并且已经蚀入墙
    壁，38他就要走出屋子，把屋门锁闭
    七天，39在第七天再来检查。如果墙
    上的霉变扩大了，40他就要命人拆掉
    有霉斑的石头，把它们扔到城外专门
    设置的不洁之处。41还要命人把墙皮
    全部刮掉，刮下来的墙皮也要扔到城
    外的不洁之处。42然后，人们要用新
    的石头替补那些被拆掉的石头，再给
    墙抹上新的墙皮。
    43“这屋子如果经过拆换石头、
    刮换墙皮后又出现霉变，44祭司就要
    再来查看。如果霉变现象扩大了，
    这就是侵蚀性的霉变，是不洁净之
    物。45这屋子必须拆掉，它的石头、
    木料和泥灰都必须扔到城外的不洁
    之处。46在屋子锁闭期间，凡进过屋
    子的人都要不洁净到当天傍晚，47凡
    在里面睡过觉或吃过东西的人都必
    须洗涤衣服。 48“如果经过刮换墙皮之后，祭司
    来检查时没有发现有霉变扩散现象，
    霉∶衣服、皮革或木头在暖湿的环境里经常长出
    的一种菌。
    祭司就可以宣布这房子为洁净；因为
    霉变 已经消除了。49祭司要用两只
    鸟、一块香柏木、一条红线和一株牛
    膝草为房子行洁净礼。50他要在盛满
    泉水的陶盆上杀掉其中一只鸟，51然
    后用香柏木、红线、牛膝草和另一只
    活鸟蘸盆里的血和泉水，向这房子弹
    洒七 次。52这样，他就用鸟血、泉
    水、活鸟、香柏木、牛膝草和红线为
    房子行了洁净礼。53然后，他要到城
    外的郊野，把活鸟放掉。他用这种方
    式为房子行了洁净礼，房子在礼仪上
    就洁净了。” 54以上是有关恶性皮肤病、疥疮、 55衣物上或屋子里的霉变、56皮肤上
    的肿块、癣、斑块等的条例。57这些
    条例是鉴别洁净和不洁净的依据，是
    有关恶性皮肤病和霉变的条例。
    关于漏症的条例
    主对摩西和亚伦说∶2
    “你们
    晓喻以色列人∶‘男人的性器
    官如果有不正常的液体流出，他就是
    不洁净的。3
    无论这漏症* 使他的性器
    官仍能正常排泄或是排泄困难，只要
    他身患漏症，他就是不洁净的。4
    他
    躺过的床是不洁净的，他坐过的一切
    东西也都是不洁净的。5
    凡触摸了他
    的床的人必须洗涤衣服，沐浴净身，
    但他仍然要不洁净到傍晚。6
    凡坐了
    他坐过的东西的人必须洗涤衣服，沐
    浴净身，但仍然要不洁净到傍晚。7
    凡
    接触了他身体的人必须洗涤衣服，沐
    浴净身，但仍然要不洁净到傍晚。8
    如
    果他把唾液吐到洁净人的身上，后者
    必须洗涤衣服，沐浴净身，但仍然要
    不洁净到傍晚。9
    他乘坐过的一切东西
    是不洁净的；10凡触碰了他身下之物的
    人要不洁净到傍晚，凡拿了那些东西
    的人必须洗涤衣服，沐浴净身，但仍
    漏症∶人体内排出液体，包括疮口流脓，男人排
    精，女人来月经。
    然要不洁净到傍晚。11如果他没有洗手
    15
    103 利未记 15:12-16:8
    就摸了别人，后者必须洗涤衣服，沐
    浴净身，但仍然要不洁净到傍晚。12被
    他触摸过的陶器都必须砸碎，被他触
    摸过的木器都必须用水冲洗。
    13‘他的漏症痊愈以后，还要再等
    七天。他要洗涤衣服，在流动的水中
    沐浴净身，然后才算洁净。14在第八
    天，他要带两只斑鸠或鸽子到圣幕的
    门前来，在主的面前把它们交给祭
    司。15祭司要把其中一只献作赎罪
    祭，另一只献作烧化祭，这样，祭司
    就在主的面前为他行了洁净礼。
    有关男人的条例
    16‘男人如果遗精，他必须沐浴全
    身，但仍然要不洁净到傍晚。17凡被
    精液沾染的衣服和皮革都必须用水漂
    洗，但仍然要不洁净到傍晚。18男女
    性交后必须沐浴净身，但他们仍然要
    不洁净到傍晚。
    有关女人的条例
    19‘女人在月经期间要不洁净七
    天。在这期间，凡接触了她的人都要
    不洁净到当天傍晚。20她在经期内坐
    过或躺过的东西都是不洁净的。21凡
    触摸了她的床的人必须洗涤衣服，沐
    浴净身，但仍然要不洁净到傍晚。22凡
    触碰了她坐过的东西的人必须洗涤衣
    服，沐浴净身，但仍然要不洁净到傍
    晚。23凡触碰了放在她床上或坐位上
    的东西的人要不洁净到当天傍晚。24男
    人如果与经期内的女人性交，他就要
    因这女人而不洁净七天；在这期间，
    他所躺过的床也是不洁净的。
    25‘女人如果经期外多日流血或经
    血淋漓不尽，那么整个流血期间和在
    经期一样，她是不洁净的。26只要流血
    不止，她所躺过的床就与月经期间躺
    的床一样是不洁净的；她所坐过的一
    切东西就与月经期间坐过的东西一样
    不洁净。27凡接触了这些东西的人也同
    样要不洁净；他必须洗涤衣服，沐浴
    净身，但仍然要不洁净到当天傍晚。 28她的流血停止以后，必须再等七天才
    算洁净。29在第八天，她要带两只斑鸠
    或雏鸽到圣幕的门前来，把它们交给
    祭司。30祭司要把其中的一只献作赎罪
    祭，另一只献作烧化祭，这样，祭司
    就在主的面前为她行了洁净礼。’ 31“你们一定要使以色列人远离使
    他们不洁净的事物，以免他们因玷污
    了我设在他们中间的圣幕而死亡。” 32以上是有关男人因患漏症和遗精
    而不洁净，33女人因月经而不洁净，
    以及男女因不正常的遗漏而不洁净，
    男人与不洁净的女人性交而不洁净的
    条例。
    赎罪日
    亚伦的两个儿子因靠近主而死
    亡* 。他们 死 后 ，2
    主对摩西
    说∶“你要吩咐你的哥哥亚伦，不可
    随意进入帷幔后面的至圣所，到约柜
    的施恩座前面来，否则他必死。因为
    施恩座之上是我在云中的显现之处。 3
    亚伦进入圣所必须遵守下述条例∶
    他要用一头公牛献作赎罪祭，一只公
    绵羊献作烧化祭。4他必须 沐浴 净
    身，贴身穿上麻纱做的内衣内裤，再
    穿上麻纱内袍，束上麻纱做的腰带，
    戴上麻纱 做的礼冠，使自己圣服齐
    整；5
    然后，他要从以色列会众那里取
    两只公山羊献作赎罪祭，一只公绵羊
    献作烧化祭。
    6
    “亚伦要用公牛作为自己的赎罪
    祭，为自 己和 自 己的家人 行 洁净
    礼，7
    再把那两只公山羊牵到圣幕门
    口献给主， 8在 主的面前给它们拈
    亚伦的两个儿子因靠近主而死亡∶见《利未
    记》，10:1-2。
    阄∶小木棍、石子、骨片一类的东西，类似骰
    子，用于决定事情。见《箴言》，16:33。
    阄* 。一个阄归主，另一个阄归阿撒
    16
    利未记 16:9-17:5 104
    泻勒* 。9
    亚伦要把拈阄归主的那只公
    山羊献作赎罪祭，10而拈阄归阿撒泻
    勒 的公山羊则 要 活 着带到主的面
    前，然后把它放到旷野里去归给阿
    撒泻勒，以此为民众行赎罪礼。
    11“然后，亚伦要献上作为赎罪祭
    的公牛，为自己和家人行赎罪礼。他
    要亲手杀掉作为自己赎罪祭的这牛，
    12然后才可以拿着盛满主面前祭坛上
    的火炭的香炉和两捧研成细末的香进
    入帷幔的后面。13他要在主的面前把
    香放在火炭上，使缭绕的香烟遮住约
    柜上的施恩座，这样，他就不会死
    亡。14他还要取一些公牛的血，用手
    指弹洒在施恩座的东侧；施恩座的前
    方也要弹洒七次。 15“然后，亚伦要杀掉作为民众赎
    罪祭的公山羊，把羊血拿到帷幔的后
    面，弹洒在施恩座的上面和约柜的前
    面，和弹洒牛血的方式 一样。16这
    样，他就为至圣所行了洁净礼，使它
    不致被以色列人的种种不洁、叛逆行
    为和罪过所玷污。他还必须为圣幕行
    洁净礼，因为圣幕就座落在以色列人
    的种种不洁之中。17在亚伦进入至圣所
    行洁净礼的整个期间，圣幕内不可有
    人。亚伦要在那里为自己和家人及全
    体以色列会众行赎罪礼。18然后，他要
    从至圣所退出来，到主的祭坛前为它
    行洁净礼。他要取一些公牛血和山羊
    血，把它们涂在祭坛的四只角上。19再
    用手指蘸着血，向祭坛上弹洒七次，
    洁净祭坛，这样，他就使祭坛超脱了
    以色列人的种种不洁而圣化归主。
    20“亚伦为至圣所、会幕和祭坛行
    完赎罪礼之后，要把那只活的公山羊
    牵过来。21他要用手按在这羊的头上，
    对着羊头承认以色列人种种故意犯的
    过错，他们的种种叛逆行为，包括了
    他们所有的罪过，把它们都归在这羊
    阿撒泻勒∶这个字或名字的意义不清楚，主要意
    思是山羊“带走”民众的罪。
    的头上，然后派专人把它牵走，放到
    旷野里去。22这人在旷野里放掉羊，这
    样，这羊就把以色列人的一切罪都带
    走到无人居住的荒寂之地去了。
    23“然后，亚伦要进入圣幕，脱掉
    进至圣所时所穿的麻纱礼服，把它们
    放在那里。24他要在圣洁的地方沐浴
    净身，穿上日常便服，然后出来献上
    自己的和民众的烧化祭，为自己和民
    众行赎罪礼。25他要把作为赎罪祭的
    脂肪放在祭坛上烧化。26那放掉替罪
    羊的人必须洗涤衣服，沐浴净身，然
    后才可以进入营地。27献作赎罪祭的
    公牛和公山羊的血已经拿入至圣所用
    于行洁净礼，它们的皮、肉和其他秽
    物都要拿到营外烧掉。28负责焚烧这
    祭牲的人必须在事后洗涤衣服，沐浴
    净身，然后才能进入营地。
    29“你们要永远遵守下列律法∶每
    年的七月初十日，你们必须禁食，不可
    做工，以色列人和寄居在你们中间的外
    族人都不可做工。30祭司要在这天为你
    们行赎罪礼，使你们超脱你们的一切罪
    过，你们在主的面前又将是洁净的。
    31对于你们，这是一个极其重要的安息
    之日。你们必须禁食，这是永久的戒
    律。32受膏接任父职的大祭司要行下列
    赎罪礼∶他要穿上麻纱圣服，33为至圣
    所、圣幕、祭坛、全体祭司和以色列会
    众行洁净礼。34这是你们要永远遵守的
    律法，以便你们可以每年一度为以色列
    人所犯的罪过行赎罪礼。”
    亚伦遵照主对摩西的命令行事。
    关于宰杀牲畜和吃肉的条例
    主对摩西说∶2
    “你晓喻亚伦和
    他的 儿子 们以及全 体以色列
    人∶‘主告诫你们∶3
    凡以色列人宰
    杀了公牛、绵羊或山羊作为祭牲，无
    论是在营内还是营外，4
    却没有把它
    带到圣幕的门前作为祭物献给主，他
    就犯了流血之罪，就要从他的族人之
    中除名。5
    因此，以色列人不可象以
    往那样在郊野设祭，他们必须把祭物
    17
    105 利未记 17:6-18:26
    带到主的圣幕门前来，在主的面前把
    它们交给祭司，作为平安祭献给主。
    6
    祭司要把血泼洒在圣幕门前主的祭
    坛上，把祭牲的脂肪烧化在祭坛上，
    这香味是主所喜悦的。7
    他们不可再
    献祭给那使他们堕落的山羊鬼。这是
    他们世世代代要遵守的条例。’” 8
    “你要告诫他们∶‘任何以色列
    人，或寄居在他们中间的外族人，9
    如
    果随便在别处献烧化祭或其他祭品，
    却不把它们带到圣幕门前来献给主，
    他就要从他的族人中除名。 10‘如果任何以色列人或寄居在他
    们中间的外族人吃血，我就要摒弃这
    人，他就要从他的族人中除名。11生
    命存在于血之中，所以我把血赐给你
    们，让你们把它倒在祭坛之上，为你
    们的生命赎罪。因为只有代表生命的
    血才能赎回生命。12-13因此，我要告
    诫以色列人∶任何人－无论是以色列
    人还是寄居的外族人，都不可吃血。
    如果有人猎取到可食用的野兽或鸟
    类，必须放尽它的血，并用土掩埋起
    来。14血是万物生命之源。我再次告
    诫以色列人∶你们不可吃任何动物的
    血，那就是它的生命。凡吃了血的人
    必从他的族人中除名。15如果有人吃
    了自毙的动物或被其他动物咬死的动
    物的肉，无论他是本族人还是外族
    人，都必须洗涤衣服，沐浴净身，但
    仍然要不洁净到当天傍晚，然后才算
    洁净。16如果他不洗衣服，也不沐浴
    净身，他就要承受罪罚。’”
    关于性关系的条例
    主对摩西说∶2
    “你晓喻以色列
    人∶‘我是主，是你们的上帝。
    3
    你们不可效法你们曾经居住过的埃及
    国的习俗，也不可效法我要领你们去的
    迦南地的习俗。4
    你们要遵行我的律
    法，谨守我的诫命。我是主，是你们的
    上帝。5
    你们要遵行我的律法和诫命，
    凡顺从的人必因此而存活；我是主。
    18
    6
    ‘不可与自己的近亲乱伦；我是
    主。7
    不可与自己的母亲有性关系而
    侮辱了自己的父亲，此外，她是你的
    生身之母，你不可与她有性关系。8
    不
    可与父亲的妻子有性关系而侮辱了自
    己的父亲；9
    不可与亲姐妹、同父异
    母或同母异父的姐妹有性关系；无论
    她跟你一起长大或不在一起长大的，
    都不可有这种关系。10不可与孙女或
    外孙女有性关系，这是侮辱你自己。 11不可 与父亲的 妻子的女 儿有性 关
    系，她是你的姐妹。12不可与姑母有
    性关系，她是你父亲的近亲。13不可
    与姨母有性关系，她是你母亲的近
    亲。14不可与你父亲的兄弟的妻子有
    性关系，她是你的伯母；不可因此侮
    辱你父亲的兄弟。15不可与儿媳有性
    关系，她是你儿子的妻子，不可与她
    有性关系。16不可与兄弟的妻子有性
    关系，侮辱你的兄弟。17不可与一个
    女人有性关系，又与她的女儿有性关
    系，你也不可娶她的孙女或外孙女，
    因为她们是近亲；这是邪恶的事。18你
    的妻子还在世时，不可娶她的姐妹，
    也不可与她有性关系。 19‘不可与经期的女人性交，因为
    她是不洁净的。20不可与邻居的妻子
    通奸，玷污你自己。21不可把自己的
    儿女当作祭物烧献给异神摩洛*，这会
    玷污你的上帝的名；我是主。22男人不
    可与男人有性关系；这是上帝所厌恶
    的。23男女都不可与兽类有性关系，这
    是反自然的行为，是玷污自己。 24‘你们不可用上述行为玷污自
    己。因为我将要从你们面前赶走的
    异族人就是因为这些行为而玷污了
    自己。25他们所居住的土地因此而不
    洁，我也将因他们的罪降罚于块土
    地，所以这土 地 将 摒弃 它 的原 住
    民。26你们－无论是本族人还是寄居
    摩洛∶假神。人们通常杀自己的孩子，做为献给
    摩洛祭物的一部分。
    的外族人，一定要遵行我的律法和
    利未记 18:27-19:32 106
    诫 命， 不可 做 那 些上帝所憎 恶 的
    事。27那里的原住民做了这一切可憎
    之事，玷污了土地。28只要你们遵行
    主的律法，那土地就不会因受到玷
    污而摒弃你们，象它摒弃那些原住
    民一样。29任何做了这可憎之事的人
    都要从他们的族人中除名。30所以，
    你们一定要谨守我的律法，不可效
    法原住民的恶习而使自己不洁净；
    我是主，是你们的上帝。’”
    以色列人属于上帝
    主对摩西说∶2
    “你晓喻全体
    以色列人∶‘你们要保持 圣
    洁 ，因为我 －你们的上帝是圣洁
    的。3
    你们每个人都要尊敬父母，谨
    守我的安息日；我是主，是你们的
    上帝。4
    不可背离我去拜偶像；不可
    为你们自己铸造偶像；我是主，是
    你们的上帝。
    5
    ‘你们向主献平安祭时，一定要
    遵守规定的礼仪，这样我才会接受你
    们的奉献。6
    祭牲的肉必须在献祭的
    当天或第二天吃完，吃不完的必须在
    第三天烧掉，7
    如果有人在第三天吃
    这祭肉，它就是不洁净的，我必不接
    纳。8
    他要因他的罪承受罪罚，因为
    他玷污了属于主的圣物。必须把他从
    他的族人中除名。 9
    ‘收割庄稼的时候，不可割尽田
    边地角，也不可返回去捡遗落的谷
    穗；10收葡萄的时候，不可摘尽所有
    的葡萄，也不可捡落在地上的葡萄；
    要把这些留给穷人和外族人。我是
    主，是你们的上帝。
    11‘不可偷盗；不可彼此欺诈撒
    谎；12不可指着我的名发假誓，藐视
    你的上帝的圣名；我是主。
    13‘不可欺压邻居；不可抢夺别人
    的东西；雇工的工钱不可拖延，必须
    当天付清。14不可咒骂聋子；不可故
    意把东西放在瞎子的前面绊倒他；你
    们要尊崇你们的上帝；我是主。
    19
    15‘你们在审判中要主持正义。不
    可偏袒穷人，也不可偏袒权贵；要以
    公心裁决你的同胞。16不可到处散布
    流言蜚语；不可危害邻居的健康和安
    全以牟利；我是主。
    17‘不可怀恨你的邻居；如果他有
    不是之处，要向他坦诚指出，以免自
    己因怀恨他人而使自己有罪。18要对
    别人的冒犯宽厚为怀，不要以怨报
    怨。要爱人如爱己；我是主。
    19‘你们要谨守我的律法。不可使
    不同类的牲畜交配；不可在一块田里
    播下两样种子；不可穿用两种原料织
    造的衣服。 20‘如果有人与已经定婚的女仆有
    了性关系，而她当时既没有被赎回也
    没有被释放为自由人，那么他们就要
    承受罪罚，但罪不至死；因为她还不
    是自由人。21但是，这人必须带一只
    公绵羊到圣幕的门口来，作为赎过祭
    献给主。22祭司要用这羊为他行赎罪
    礼，使他超脱自己所犯的罪。然后他
    才会得到赦免。 23‘你们进入迦南地以后，无论栽
    种哪一种果树，头三年的果实都要当
    作不洁之物对待，不可以吃。24第四
    年的果实要全部献给主归圣，以赞美
    主的恩惠。25从第五年起，果实就归
    你们食用了。这样，你们的收成会越
    来越好。我是主，是你们的上帝。
    26‘你们不可吃带血的肉；不可占
    卦；不可行巫术；27不可剃掉头周围
    的头发；不可修剪胡须；28不可用刀
    划伤身体为死者致哀；不可纹身；我
    是主。
    29‘不可使你的女儿沦为娼妓，以
    免这里的民众堕落，世风败坏。30你
    们要谨守我的安息日，要敬重我的圣
    处；我是主。
    31‘不可召鬼；不可扶乩；否则你
    们就玷污了自己。我是主，是你们的
    上帝。
    32‘你们要尊敬老年人，在他们面
</p>
